---
layout: default
excerpt: >
  Die Schönstatt-Mannesjugend ist ein katholischer Jugendverband und Teil der internationalen Schönstattbewegung im Bistum Fulda.
  Wichtige Elemente unserer Jugendarbeit sind die Vermittlung christlicher Werte und die Erziehung zu freien Persönlichkeiten mit einer Festigkeit im Glauben.
---
{% include home/cover.html %}

<style>
.announcement {
  max-width: 70rem;
  padding: 1rem;
}
</style>
<div style="background: #FEC;">
  <div class="announcement container">
    <p>
      Das Zeltlager 2022 findet vom 17. bis 27. August in Heigenbrücken statt. Eingeladen sind Jungs von 9 bis 14 Jahren.
    </p>
    <a class="btn" href="/zeltlager/">Infos &amp; Anmeldung</a>
  </div>
</div>

<div class="kacheln container">
  <div class="kachel">
    <h3><a href="{{ site.baseurl }}/die-smj-fulda" class="kachel__link">
      {% include icons/schoenstatt.svg %}

      SMJ-Fulda
    </a></h3>
    <p>
      Wir sind eine katholische Jugendgemeinschaft und Teil der Schönstattbewegung im Bistum Fulda.
    </p>
  </div>
  <div class="kachel">
    <h3><a href="{{ site.baseurl }}/säulen/" class="kachel__link">
      <svg class="icon icon-säulen" viewBox="0 0 328.923 269.479">
        <defs><path id="pillar" style="fill: currentColor;" d="m0 0 h45 v16 h-4 v4 h-6 v170 h6 v4 h4 v16 h-45 v-16 h4 v-4 h6 v-170 h-6 v-4 h-4 z"></path></defs>

          <use href="#pillar" y="15" x="30"></use>
          <use href="#pillar" y="15" x="80"></use>
          <use href="#pillar" y="15" x="130"></use>
          <use href="#pillar" y="15" x="180"></use>
          <use href="#pillar" y="15" x="230"></use>
      </svg>

      Jugendarbeit
    </a></h3>
    <p>
      Wir übermitteln christliche Werte und die Erziehung zu freien Persönlichkeiten.
    </p>
  </div>
  <div class="kachel">
    <h3><a href="{{ site.baseurl }}/zeltlager/" class="kachel__link">
      {% include icons/zelt.svg %}

      Zeltlager
    </a></h3>
    <p>
      Das Zeltlager in den Sommerferien ist das Highlight unserer Arbeit.
    </p>
  </div>
  <!--div class="kachel">
    <h3><a href="{{ site.baseurl }}/adventskalender" class="kachel__link">
      <svg class="icon icon-sms" viewbox="0 0 512 512">
        <path d="M101.3 141.6v228.9h0.3 308.4 0.8V141.6H101.3zM375.7 167.8l-119.7 91.5 -119.6-91.5H375.7zM127.6 194.1l64.1 49.1 -64.1 64.1V194.1zM127.8 344.2l84.9-84.9 43.2 33.1 43-32.9 84.7 84.7L127.8 344.2 127.8 344.2zM384.4 307.8l-64.4-64.4 64.4-49.3V307.8z"/>
      </svg>
      SMS-Adventskalender
    </a></h3>
    <p>
      Wir versenden im Advent täglich ein Türchen mit geistigen Impuls.
    </p>
  </div-->
  <div class="kachel">
    <h3><a href="{{ site.baseurl }}/aktionen" class="kachel__link">
      {% include icons/boni-heiligtum.svg %}
      Aktionen
    </a></h3>
    <p>
      Wir vermitteln christliche Werte und fördern die Erziehung zu freien Persönlichkeiten mit einer Festigkeit im Glauben.
    </p>
  </div>
  <!--div class="kachel">
    <h3><a href="{{ site.baseulr }}/50jahre/" class="kachel__link">
      <svg class="icon icon-50jahre" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 80">
	<g id="jesus" transform="">
          <text x="40" y="60" style="fill: #8a0000;font-family: 'Titillium Web', 'Open Sans', sans-serif; stroke: none; font-size: 55px; text-align: center; font-weight: bold;" width="150" height="80">50</text>
        </g>
      </svg>SMJ-Jubiläum
    </a></h3>
    <p>Wir werden 50 und das wird gefeiert!<br>26. August 2017</p>
  </div-->
  <div class="kachel">
    <h3><a href="http://shop.smj-fulda.org" class="kachel__link">
      {% include icons/jesus.svg %}
      SMJ-Shop
    </a></h3>
    <p>
      Trage JESUS in die Welt! JESUS-Shirt, JESUS-Pulli, JESUS-Handtücher uvm.
    </p>
  </div>
</div>

<div class="newsfeed container">
  {% include home/newsfeed.html %}
</div>

<div class="newsfeed-addition container">
  <a href="{{ site.baseurl }}/artikel" class="more-link">Mehr Neuigkeiten</a>
</div>

<aside class="container home-aside">
  <div class="naechste-termine">
    <h3 class="sidebar__title">Nächste Termine</h3>
    {% include upcoming_events.html %}

    <a href="{{ site.baseurl }}/termine" class="more-link" title="Terminübersicht">Alle Termine</a>
  </div>
  <div class="kontakt-info" id="kontakt">
    <div class="kontakt-info__section">
      <h3 class="sidebar__title">Diözesanführung</h3>

      <div class="contact">
        <span class="contact__image"></span>
        <div class="contact__name">
          Adam Muthig
        </div>
        <div class="contact__mail">
          <a href="mailto:adam.muthig@smj-fulda.org">adam.muthig@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Diözesanführer</strong>
      </div>
      <div class="contact">
        <img class="contact__image" src="{{ site.baseurl }}/images/profile/simon-wawra_thumb.jpg" />
        <div class="contact__name">
          Simon Wawra
        </div>
        <div class="contact__mail">
          <a href="mailto:simon.wawra@smj-fulda.org">simon.wawra@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Stellvertretender Diözesanführer</strong>
      </div>
      <div class="contact">
        <span class="contact__image"></span>
        <div class="contact__name">
          Christian Schopp
        </div>
        <div class="contact__mail">
          <a href="mailto:christian.schopp@smj-fulda.org">christian.schopp@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Lagerleiter</strong>
      </div>
      <div class="contact">
        <span class="contact__image"></span>
        <div class="contact__name">
          René Kohl
        </div>
        <div class="contact__mail">
          <a href="mailto:rene.kohl@smj-fulda.org">rene.kohl@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Kassenwart</strong>
      </div>
      <div class="contact">
        <span class="contact__image"></span>
        <div class="contact__name">
          Pfarrer Rudolf Liebig
        </div>
        <div class="contact__mail">
          <a href="mailto:rudolf.liebig@smj-fulda.org">rudolf.liebig@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Standesleiter</strong>
      </div>
    </div>
    <div class="kontakt-info__section">
      <h3 class="sidebar__title">Kontakt Website</h3>
      <div class="contact">
        <img class="contact__image" src="{{ site.baseurl }}/images/profile/johannes-mueller_thumb.jpg" />
        <div class="contact__name">
          Johannes Müller
        </div>
        <div class="contact__mail">
          <a href="mailto:johannes.mueller@smj-fulda.org">johannes.mueller@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Online-Redaktion</strong>
      </div>
      <div class="kontakt-info__footer">
        <a href="mailto:{{ site.email }}" class="btn">
          <svg class="social-icon"><use class="icon" xlink:href="#icon-email" /></svg>
          Schreib uns eine E-Mail
        </a>
      </div>
    </div>
  </div>
</aside>

<figure class="paterspruch container">
  {% include image/schoenstatt-refugium-peccatorum.svg %}
  <blockquote>
    <p>Wir schenken uns der Gottesmutter und was tut sie? Sie schenkt sich uns!</p>
    <footer>
      <cite>P. Kentenich</cite>
    </footer>
  </blockquote>
</figure>

{% include home/instafeed.html %}

<div class="container">
  <figure class="video-wrapper">
    <iframe width="720" height="404" src="https://www.youtube.com/embed/ncFuwCsUyvc" frameborder="0" allowfullscreen=""></iframe>
  </figure>
</div>
