<p>Wir gründeten unseren Kreis im September 2014.</p>
<div>Bei deisem Gründungswochenende waren wir insgesamt 14 Peronen. Mit dem Thema Gemeinschaft stiegen wir in unsere Kreisarbeit ein. Das Ziel von uns ist es eine starke Gemeinschaft zu werden und bei unseren regelmäßigen Treffen viel Spaß zu haben.
  <p>&nbsp;</p>
  <p>Außerdem wollen wir uns auch darauf vorbereiten einmal Gruppenleiter bei der SMJ Fulda zu werden!</p>
</div>
