<p>Die Schönstatt-Mannesjugend ist ein internationaler katholischer Jugendverband und Teil der <a href="/sch%C3%B6nstatt">Schönstatt-Bewegung</a>. Wichtige Elemente unserer <a href="/aktionen">Jugendarbeit</a> sind die Übermittlung christlicher Werte und die Erziehung zu freien Persönlichkeiten mit einer Festigkeit im Glauben. <a href="/die-smj-fulda" class="more-link">mehr »</a><br style="clear:right;"></p>
