<div style="text-align: center; background-color: #fff;"><img src="http://smj-fulda.org/files/imagecache/full/images/field_gallery-title/914-ipray---lobpreistour-der-schoenstatt-mannesjugend-fulda-ipray_logo_fin_glossy.jpg" /></div>
<p>[photo id=7335293310] [photo id=7335292918]</p>
<blockquote>
  <p>Habt Vertrauen, ich bin es; fürchtet euch nicht!</p>
  <small>(Mt 14,27)</small></blockquote>
<p>Für viele Menschen ist die Kirche ein Ort der Sonntags nur missmutig aufgesucht oder gar nicht mehr besucht wird. Der Glaube spielt in ihrem Leben keine ernste Rolle mehr. Sie flüchten sich in Arbeit, Stress und kurzlebige Dinge des Alltags. Dabei ist Stille, Besinnung und ein fester Halt genauso wichtig.</p>
<p>Wir sind eine Gruppe innerhalb der Schönstatt Mannesjugend Fulda. 2012 riefen wir diese Initiative ins Leben. Seit dem veranstalten wir Lobpreise in Gemeinden und Pfarreien unseres Bistums und darüber hinaus Als Thema haben wir uns &bdquo;Vertrauen&ldquo; ausgesucht. Mit verschiedenen Elementen ermöglichen wir Vertrauen zu Gott und zu den Menschen neu zu erleben.</p>
<p>Gestärkt durch unsere Arbeit und unseren Glauben, soll dies Beitrag sein für die junge Kirche und eine Antwort geben auf den Auftrag Christi: &bdquo;Geht hinaus und verkündet allen das Evangelium&ldquo; (Mk 16,15)</p>
<div class="box"><strong>Kontakt:</strong> <a href="mailto:ipray@smj-fulda.org">ipray@smj-fulda.org</a><br />
  <strong>Facebook:</strong> <a href="https://www.facebook.com/iPray2011">facebook.com/iPray2011</a></div>
