<p>Die SMJ-Fulda hat auch eine eigene Fußballmannschaft, die <strong>Red Hearts</strong> (engl. Rote Herzen). Entstanden ist sie als Mannschaft der Gruppenleiter im traditionellen Zeltlager-Fußballmatch &bdquo;Betreuer gegen Grüpplinge&ldquo;. Seit einigen Jahren tritt die Mannschaft aber auch außerhalb des Zeltlagers auf, biespielsweise beim SMJ-Cup, dem Fußballturnier der SMJ-Deutschland, und diversen Schoppenturnieren. Größter Erfolg war der Gewinn des ersten SMJ-Cups 2011.</p>
<p>Für uns ein wichtiger Bestandteil und allgemeines Erkennungmerkmal ist unsere Hymne, die 16. Strophe des Bonifatiuslieds, die selbstverständlich vor jedem Spiel bzw. am Anfang eines Turniers lautstark gesungen wird.</p>
<p>Die Mannschaft setzt sich zusammen aus aktiven und ehemaligen Gruppenführern und Freunden der SMJ-Fulda. Trainer ist er jeweils amtierende Diözesanführer.</p>
<p>Trainer: Steffen Büdel<br />
    Kapitän: Michael Amberg<br />
    Präsident: Alexander Dücker</p>
<p>[photo id=&quot;12956772413&quot; caption=&quot;Red Hearts in der Verteidigung beim SMJ-Cup 2014&quot;] [photo id=&quot;5926247174&quot; caption=&quot;Hymne der Red Hearts (Zeltlager 2011)&quot;] [photo id=&quot;5925693721&quot; caption=&quot;Teambesprechung (Zeltlager 2011)&quot;]</p>
<p>Bisherige Spiele (soweit bekannt):</p>
<ul>
    <li>Zeltlager 1997 Hausen 10:1 Sieg</li>
    <li>Zeltlager 1998 Schömborn 4:7 Niederlage</li>
    <li>Zeltlager 1999 Schönstatt 7:8 Niederlage</li>
    <li>Zeltlager 2000 Hausen 3:10 Niederlage</li>
    <li>Zeltlager 2001 Weyersfeld: Niederlage i.E.</li>
    <li>Zeltlager 2002 Idstein: Sieg</li>
    <li>Zeltlager 2003 Schönstatt: Sieg</li>
    <li>Zeltlager 2004 Bastheim: Sieg</li>
    <li>Zeltlager 2006 Schönstatt: 14:1 oder 7:3 Sieg</li>
    <li>Schoppenturnier Obereschenbach 2007</li>
    <li>Zeltlager 2007 Obereschenbach: 11:1 Sieg</li>
    <li>Zeltlager 2008 Glauberg: 9:2 Sieg</li>
    <li>Zeltlager 2009 Schönstatt: 27:4 Sieg</li>
    <li>Zeltlager 2010 Hausen: 27:0 Sieg</li>
    <li>SMJ-Cup 2011: 1. Platz</li>
    <li>Zeltlager 2011 Oberweißenbrunn: 10:0 Sieg</li>
    <li><a href="http://www.schoenstatt.de/de/news/1581/160/Heiss-umkaempfte-Spiele-und-viele-tolle-Tore-5-Teams-beim-2-SMJ-Cup.htm">SMJ-Cup 2012</a>: 3. Platz</li>
    <li>SMJ-Cup 2013: 3. Platz von 7
        <ul>
            <li>SMJ Freiburg/Schwaben: 1:0</li>
            <li>SMJ Mainz: 1:0</li>
            <li>SMJ Trier 1: 0:1</li>
            <li>SMJ Oberland (Halbfinale): 2:4 i.E. (0:0)</li>
            <li>SMJ Köln (Spiel um Platz 3) 2:0</li>
        </ul>
    </li>
    <li>Schoppenturnier Pilgerzell 2014</li>
    <li><a href="http://www.schoenstatt.de/de/news/2403/112/SMJ-Cup-2014-Fussballturnier-der-Schoenstatt-Mannesjugend.htm">SMJ-Cup 2014</a>: 4. Platz von 6
        <ul>
            <li>SMJ Trier: 0:1</li>
            <li>Volontäre 2014: 2:1</li>
            <li>SMJ Oberland (Halbfinale): 0:4</li>
            <li>SMJ Köln (Spiel um Platz 3) 1:2</li>
        </ul>
    </li>
</ul>
