<p>Unsere Zeltlager finden jährlich in den Sommerferien an wechselnden Orten statt und dauern je 11 Tage. Die 20-40 Jungs von 9 bis 13 Jahren werden von 10-15 Gruppenführern betreut. Und für das eibliche Wohl werden wir von unseren Küchenfrauen bekocht, den Guten Seelen im Lager.</p>

Das Zeltlager findet für die Kinder statt, nicht für uns Betreuer - S. Büdel

Damals im Zeltlager...

<div class="section">
  <h3>Chronologie</h3>
  <h></h>
  <table class="wide list">
    <thead>
      <tr>
        <th>Zeltlager</th>
        <th>Jahr</th>
        <th>Ort</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">Die Schönstatt-Mannesjugend Fulda veranstaltet Zeltlager seit den 60-er Jahren, die Lagertemen und -orte sind momentan nicht durchgängig bekannt.</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th><a href="http://smj-fulda.org/node/968">Sherlock Holmes</a></th>
        <td>2014</td>
        <td>Schimborn</td>
      </tr>
      <tr>
        <th><a href="http://smj-fulda.org/node/930">Wilder Westen</a></th>
        <td>2013</td>
        <td>Hillenberg</td>
      </tr>
      <tr>
        <th><a href="http://smj-fulda.org/termine/2012/jul-3-zeltlager-2012">Die Siedler</a></th>
        <td>2012</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th><a href="http://smj-fulda.org/zeltlager/2011">Asterix &amp; Obelix&nbsp;- Die Gallier sind los!</a></th>
        <td>2011</td>
        <td>Oberweißenbrunn</td>
      </tr>
      <tr>
        <th><a href="http://smj-fulda.org/artikel/832-starker-wind-%E2%80%93-wir-setzen-segel">Starker Wind&nbsp;- Wir setzen Segel</a></th>
        <td>2010</td>
        <td>Hausen</td>
      </tr>
      <tr>
        <th><a href="http://smj-fulda.org/artikel/178-zeltlager-2009">Highlander</a></th>
        <td>2009</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Tempelritter</th>
        <td>2008</td>
        <td>Büdingen</td>
      </tr>
      <tr>
        <th>Im Auftrag ihrer Majestät</th>
        <td>2007</td>
        <td>Obereschenbach</td>
      </tr>
      <tr>
        <th>Timeshift, die Jagd nach der Weltformel</th>
        <td>2006</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Volo incredibilis - maria fieri!</th>
        <td>2005</td>
        <td>Hausen</td>
      </tr>
      <tr>
        <th>Bonifatius</th>
        <td>2004</td>
        <td>Bastheim</td>
      </tr>
      <tr>
        <th>Pro gloria coronae</th>
        <td>2003</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Isola na costa</th>
        <td>2002</td>
        <td>Idstein</td>
      </tr>
      <tr>
        <th>Pentestyloi</th>
        <td>2001</td>
        <td>Weyersfeld</td>
      </tr>
      <tr>
        <th>Jeremia</th>
        <td>2000</td>
        <td>Hausen</td>
      </tr>
      <tr>
        <th>Spuren entdecken</th>
        <td>1999</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Die Siedler von Matar</th>
        <td>1998</td>
        <td>Schimborn</td>
      </tr>
      <tr>
        <th>Jesus von Nazareth &ndash; wag es, komm mit</th>
        <td>1997</td>
        <td>Hausen</td>
      </tr>
      <tr>
        <th>Expedition Leben</th>
        <td>1996</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Excalibur</th>
        <td>1995</td>
        <td>Bastheim</td>
      </tr>
      <tr>
        <th>Mose &ndash; Aufbruch ins gelobte Land</th>
        <td>1994</td>
        <td>Eckweisbach</td>
      </tr>
      <tr>
        <th>Unternehmen Arche</th>
        <td>1993</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Wage den Aufbruch &ndash; folge Franziskus</th>
        <td>1992</td>
        <td>Hausen</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>1991</td>
        <td>Dingolshausen</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>1990</td>
        <td>(Radtour)</td>
      </tr>
      <tr>
        <th>Mutter Theresa &ndash; Einsatz in Kalkutta</th>
        <td>1989</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>1988</td>
        <td>Bastheim</td>
      </tr>
      <tr>
        <th>Ter Optima</th>
        <td>1987</td>
        <td>Sandberg</td>
      </tr>
      <tr>
        <th>Asterix Und Obelix</th>
        <td>1986</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Mit dir leben in der Neuen Stadt</th>
        <td>1984</td>
        <td>Schönstatt</td>
      </tr>
      <tr>
        <th>Aufbruch mit Bonifatius</th>
        <td>1983</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Geht zur Quelle und baut eine Neue Stadt</th>
        <td>1982</td>
        <td>Mayen/Eifel</td>
      </tr>
      <tr>
        <th>Castra Aestiva Fuldensis MCMLXXXI</th>
        <td>1981</td>
        <td>Hausen</td>
      </tr>
    </tbody>
  </table>
</div>
